<div class="jumbotron"
 <cente>
    <h1>Welcome to Launchpad`s Pizza</h1>
    <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Items/Super_Pepperoni.jpg" alt="launchpad`s pizza">
    <br>
    <%= link_to "check out our Pizzas", pizzas_path, class:"btn btn-default"%>
  </cente>
</div>